<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<context-param>
		<param-name>contextConfigLocation</param-name> <!-- 변수이름 고정 -->
		<param-value>classpath:spring/root/*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.mycompany.webapp.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>com.mycompany.webapp.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name> <!-- 변수 이름 변경 불가 . 대소문자도 변경 X -->
			<param-value>classpath:spring/appServlet/*.xml</param-value> <!-- 변수 값은 변경 가능 -->
		</init-param>
		<load-on-startup>1</load-on-startup> <!-- 시작 때 was가 객체를 생성해서 초기 객체생성 시 지연 문제 해결가능 / 숫자는 실행 순서로 작을 수록 좋음 -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.mycompany.webapp.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>